<h2>Create a new post</h2>

<form method="post" action="/Posts/Create">

    
    <label>Post content</label>

    <textarea name="Content"></textarea>

    <br />

    <!--  <input type="hidden" name="Date" value="@DateTime.Now" /> -->


    <button type="submit" class="btn btn-success">Adauga articolul</button>

</form>
