
<h2>Edit post</h2>

<form method="post" action="/Posts/Edit/@ViewBag.Post.Id">

    

    <label>Edit post content</label>
    <br />

    <input type="text" name="Content" value="@ViewBag.Post.Content" />
    <br /><br />

    

    <button type="submit" class="btn btn-info">Edit</button>

</form>


